  <head>
    <style>

      html, section, article, h1, h2, p {
        background: #ccc;
        font-family: sans-serif;
        text-align: center;
      }

      body {
        margin: 0px;
        padding: 0px;
        margin-bottom: 24px;
      }

      h1 {
        background: #000;
        color: red;
        font-size: 40px;
        padding: 24px;
        top: 0;
      }

      .block {
        background: #eee;
        display: block;
        font-family: monospace;
        margin: 0px 100px 0px 100px;
        padding: 0px;
        text-align: left;
      }

      strong {
        display: block;
        background: pink;
      }
    </style>
  </head>

  <body>

    <h1>Exception Log</h1>

    </body>

    <h2>Exception Message</h2>
      <p class="block"><%= exception_message %></p>

    <br>

    <hr>

    <h2>Source View</h2>
      <h3><%= source_file_name %></h3>
      <% source_view.each do |line| %>
      <% line_number = /\d+/.match(line).to_s.to_i %>
        <p class="block">
        <%= "<strong>" if line_number == exception_line_number %>
        <%= line %>
        <%= "</strong>" if line_number == exception_line_number %>
        </p>
      <% end %>

    <br>

    <hr>

    <h2>Stack Trace</h2>
      <% stack_trace.each do |msg| %>
        <p class="block last">
        <%= ERB::Util.html_escape(msg) %>
        </p>
      <% end %>

  </body>
